[logging]
level = "info"   # "debug" | "info" | "warn" | "error"
output = "stdout" # "stdout" | "stderr" | "/path/to/gobetween.log"
[profiler]
enabled = false # false | true
bind = ":6060"  # "host:port"
[api]
enabled = true  # true | false
bind = ":8888"  # "host:port"
cors = false    # cross-origin resource sharing
[metrics]
enabled = false # false | true
bind = ":9284"  # "host:port"
[defaults]
max_connections = 0              # Maximum simultaneous connections to the server
client_idle_timeout = "0"        # Client inactivity duration before forced connection drop
backend_idle_timeout = "0"       # Backend inactivity duration before forced connection drop
backend_connection_timeout = "0" # Backend connection timeout (ignored in udp)

# Servers contains as many [server.<name>] sections as needed.
[servers]
[servers.sample]
protocol = "tcp"
bind = "0.0.0.0:8080"

  [servers.sample.discovery]
  kind = "static"
  static_list = [
      {% for host in groups['app'] %} 
      "{{ host }}:8080 weight=40 priority=1",
      {% endfor %}
  ]
  [servers.sample.healthcheck]
  kind = "ping"
  interval = "2s"
  ping_timeout_duration = "500ms"